#playerNumber {
  text-align: right;
}

#roomCode {
  margin-top: 10px;
}

.btn {
  margin-bottom: 10px;
}

input.lobby_input{
  width: 120px;
  margin-left: 0px;
}

textarea.description {
  vertical-align: top;
  margin-bottom: 10px;
  width: 450px;
}
